<h1>Create Your Account</h1>

<form method="POST" action="/users">
    <label for="username">Username: </label>
    <input name="username" id="username" type="text">
    <br>
    <label for="email">Email: </label>
    <input name="email" id="email" type="text">
    <br>
    <label for="password">Password: </label>
    <input name="password" id="password" type="password">
    <br>
    <br>
    <input type="submit" value="Create Account">
</form>