<div class="container">
<h1>StorieZZZ</h1>

<div class="welcome">
    <p>Welcome to StorieZZZ!</p>
    
    <p>Dreams are interesting, sometimes wild!  They can be mundane or totally freak you out.  Some are     full of bliss, and then there are those that are just...bizarre.</p>
    
    <p>We all experience stories during our hours of slumber, whether they are perfectly coherent or    completely nonsensical.  Use this web application to memorialize them, reflect on dreams of the past,  and see what goes on in other people's snoozing minds!</p>
</div>
</div>