<form method="POST" action="/dreams/<%= @dream.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <label for="description">Description</label>
   <textarea name="description" rows="4" cols="50"><%= @dream.description %></textarea>
    <br><br>
    <label for="category">What kind of dream was it?</label>
    <select name="category">
        <option value="">Select One</option>
        <option value="adventurous">Adventurous</option>
        <option value="funny">Funny</option>
        <option value="happy">Happy</option>
        <option value="nightmare">Nightmare</option>
        <option value="sad">Sad</option>
        <option value="weird">Weird</option>
    </select>

    <input type="submit">
</form>