<% if @user %>
    <h1>Hi, <%= @user.username %>!</h1>
    <h2>Here is a collection of your Storiezzz</h2>
<% else %>
    <h2>Storiezzz by the Community</h2>
<% end %>

<% @dreams.each do |dream| %>
    <p><a href="/dreams/<%= dream.id %>"><%= dream.description.split(" ")[0..4].join(" ")... %></a></p>
<% end %>