<h1>My Dream Last Night...</h1>

<form method="POST" action="/dreams">
    <label for="description">Describe Dream: </label>
    <input name="description" id="description" type="text">
    <br><br>
    <!-- category of dream -->
    <input type="submit" value="Save">
</form>