<br>
<h2>My Dream Last Night...</h2>

<form class="pure-form pure-form-stacked" method="POST" action="/dreams">
    <fieldset class="pure-group">
        <textarea class="pure-input-1-2" name="description" id="description" placeholder="Describe your dream here" value="<%= @dream ? @dream.description : ""%>" rows="4" cols="50"></textarea>
        <br>
        <label for="category">What kind of dream was it?</label>
        <select name="category">
            <option value="">select one</option>
            <option value="adventurous">adventurous</option>
            <option value="funny">funny</option>
            <option value="happy">happy</option>
            <option value="scary">scary</option>
            <option value="sad">sad</option>
            <option value="weird">weird</option>
        </select>
    </fieldset>
        <button class="pure-button pure-button-primary" type="submit" value="Save">Save</button>
</form>