<div class="show-dream">
    <div class="1-box">
        <p><%= @dream.description %></p>
    </div>
</div>

<% if @dream.user == current_user %>
<p><a href="/dreams/<%= @dream.id %>/edit">Edit</a></p>
<form method="POST" action="/dreams/<%= @dream.id %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>
<% end %>