<div class="show-dream">
    <div class="1-box">
        <p><%= @dream.description %></p>
    </div>
</div>

<div class="show-buttons">
    <% if @dream.user == current_user %>
    <a class="pure-button edit-btn" href="/dreams/<%= @dream.id %>/edit">Edit</a>
    
    <form method="POST" action="/dreams/<%= @dream.id %>">
        <input type="hidden" name="_method" value="delete">
        <button class="pure-button delete-btn" type="submit" value="Delete">Delete</button>
    </form>
    <% end %>
</div>